@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inconsolata', monospace;
  letter-spacing: 0.12em;
}

header {
  width: auto;
  padding: 15px;
  font-weight: 500;
  font-size: large;
  letter-spacing: 0.4em;
  font-style: italic;
  word-wrap: break-word; 
  text-align: center;
}

main {
  display: flex;
  flex-direction: row;
  height: auto;
}

aside {
  width: 10em;
  height: 100vh;
  padding: 50px 20px;
  float: left;
  overflow: hidden;
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  background-color: lightgray;
}

nav ul{
  color: blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.art {
  max-width: 100%;
  height: auto;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

  background-color: antiquewhite;
}

footer {
  position: relative;
  bottom: 0;
  
  height: auto;
  padding: 15px;
  display: flex;
  justify-content: center;

  background-color: lightblue;
  color: blue;
}