@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inconsolata', monospace;
  letter-spacing: 0.12em;
}

header {
  width: auto;
  font-weight: 500;
  font-size: large;
  letter-spacing: 0.4em;
  font-style: italic;
  word-wrap: break-word; 
  /* text-align: center; */
}

main {
  width: 100vw;
  display: flex;
  flex-direction: row;
  height: auto;
}

aside {
  width: 15em;
  height: 100%;

  position: fixed;
  z-index: 1;
  top: 0;

  background-color: white;

  padding: 50px 40px;
  float: left;
  overflow: hidden;
  
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: left;
  color: blue;
}

aside > p {
  font-size:x-small;
}

.sidebar-head {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.line {
  width: auto;
  height: 0.1rem;
  background-color: blue;
}

nav ul{
  /* height: 10em; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: space-around;
  gap: 10px;
}

a {
  text-decoration: none;
  color: blue;
}

a:active {
  color: blue;
}

.art {
  max-width: 100%;
  height: auto;
}

.gallery {
  width: auto;
  display: grid;
  margin-left: 15em;

  background-color: beige;
}

/* footer {
  position: relative;
  bottom: 0;
  
  height: auto;
  padding: 15px;
  display: flex;
  justify-content: center;

  background-color: lightblue;
  color: blue;
  
} */

